# Dependencies
node_modules/

# Build output
dist/
tmp/
out-tsc/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log

# System Files
.DS_Store
Thumbs.db

# Environment files
*.env
*.local
